.timer-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 150px;

  .time {
    color: #fff;
    margin-right: 8px;
  }

  .icon-button {
    cursor: pointer;
    width: 24px;
    height: 24px;

    path {
      fill: #fff;
    }

    &:hover {
      path {
        fill: var(--primary-color2);
      }
    }
  }

}