.timer-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250px;
  text-transform: uppercase;
  color: #616161;
  background-color: #e1dfdf;
  text-shadow: #3e3e3e 20px 0 20px;
}