.registration-container {
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1170px;


  .text-field-container {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  button {
    width: 200px;
    margin: auto;
  }
}