.menu {
  & a {
    font-family: Ubuntu;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 0em;
    color: rgb(231, 229, 252);
    border-bottom: 5px;
    transition: 0.2s;

    &:hover {
      border-bottom: 5px solid rgb(231, 229, 252);
    }
  }


}